* {
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  /*border: 1px dotted grey;*/
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7f7f7;


  @media (max-width: 40rem) {
    flex-direction: column;    
  }
}

p {
  margin:0 0 1rem 0;
  padding: 0;
  font-size: 0.8rem;
}

h1 {
  font-size: 1.4rem;
  padding:0;
  margin:0;
}

aside {
  width: 33%;
  background-image: url(./images/markus-spiske-DzgLAZXNFRo-unsplash.jpg);
  background-size: cover;
  height: 100vh;
  position: fixed;

  @media (max-width: 40rem) {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.credit {
  color:white;
  position: absolute;
  bottom:1rem;
  width: 100%;
  text-align: center;

  a {
    color: white;
  }

  @media (max-width: 40rem) {
    display: none;
  }
}

.logo-box {
  color: white;
  font-size: 4rem;
  background-color: #cccccc73;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;

  @media (max-width: 40rem) {
    position: static; 
  }
}

main {
  padding: 3rem 0;
  position: relative;
  left: 33%;
  width: 67%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  @media (max-width: 40rem) {
    width: 100%;    
    position: static;
  }
}

.presentation-text {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 6rem 0 3rem;
}

.italics {
  font-style: italic;
}

.form-container {
  background-color: white;
  padding: 1rem 20% 2rem 3rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 7px 0px #444444;

  @media (max-width: 40rem) {
    padding: 1rem;
    align-items: center;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 1rem;

  @media (max-width: 40rem) {
    justify-content: center;
  }
}

.form-row {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-width: 40%;
  position: relative;
}

.form-row label {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.aria-required {
  color: rgb(246, 114, 114);
}

.form-row input {
  font: inherit;
  min-width: 15rem;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;

  &::placeholder {
    color:#aaaaaa;
  }

  &:hover {
    outline: 1px solid #555555;
  }

  &:active,
  &:focus {
    outline: 3px solid #E7AC2A;
    box-shadow: 1px 1px 5px #444444;
  }

  &:invalid:focus {
    background-color: rgba(255, 0, 0, 0.505);
  }

  &:valid {
    background-color: #7fbc5652;
  }

  &:focus:valid {
    outline-color: #5e8b3f;
  }

  &:optional {
    background-color: #ffffff;
  }
}

.error {
  display: none;
  color: rgb(246, 114, 114);
  position: absolute;
  bottom: -42px;
  font-weight: 700;
  font-size: 1rem;
}

.submit-button__container {
  padding: 1rem 0 0 3rem;
}

.form__submit-button {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  background-color: #7fbc5652;
  border-color: #5e8b3f;
  border-radius: 5px;

  &:active {
    background-color: #7fbc56c4;
  }
}

.login-text {
  margin-top: 1rem;
  font-size: 1rem;

  a {
    font-weight: 700;
    text-decoration: none;
    color: #7fbc56;

    &:hover,
    &:active {
      color: #5d8b3e;
    }
  }
}